* {
    font-family: Arial, Helvetica, sans-serif;

}
p {
    text-align: justify;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #7342269a;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
   color: #734226;
   text-align: 1px 1px 0px #4e2d1a;
}
h2{
    color: #A66946;
}
p { 

}
body {
    background-image: linear-gradient(to right, #41A8BF, #B0D1D9);
}